<div class="container p-4">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>PAGINA NO ENCONTRADA</h3>
                </div>
                <div class="card-body">
                    <p>Lo sentimos, pero no encontramos la pagina solicitada.</p>
                    <p><span>=(</span></p>
                </div>
                <button class="btn btn-secondary bnt-block">Volver</button>
            </div>
        </div>
    </div>
</div>