<div class="container" *ngIf="visible">
  <p>popup works!</p>
    
  <ng-content select = "h2"></ng-content>
  
  <ng-content select = ".contenido"></ng-content>
  <p>Esto sería el proyecto de popup</p>
  <p>Este sería el boton X para cerrar</p>
  <button class= "btn btn-primary" (click)="cerrarPopup()"> Cerrar Popup</button>
</div>
