<p>user-form works!</p>

<div class="containter p-4">
    <!--Creo un contenedor-->
    <div class="row">
      <!--Creo una fila-->
      <div class="col-md-6 mx-auto">
        <!--Creo una columna-->  
        <div class="card text-center">
          <!--Creo una tarjeta-->
          <div class="card-header d-flex justify-content-between align-items-center">
            <!--Creo cabecera de la tarjeta-->
            <h3>EDITAR: {{ this.user.username.toUpperCase() }}</h3>
            <!--Titulo tarjeta-->
            
            <button
              type="button"
              class="btn btn-light align-self-end ml-auto text-muted"
              (click)="cerrar()">
              <i class="far fa-times-circle fa-2x"></i>
            </button>
  
          </div>
          <!--
          <i class="fa fa-user-circle fa-7x card-img-top align-item-center p-2"></i>-->
  
          <img src= "{{this.user.address.geo.lng}}" class="card-img-top height: 300px" alt="image profile">
  
          <div class="card-body">
            <!--Cuerpo de la tarjeta-->
            <form>
              <!--Formulario-->
              
                <div class="form-group">
                  <input
                    type="text"
                    name="fullname"
                    placeholder="Nombre Completo"
                    class="form-control form-control-sm"
                    autofocus
                    value="{{ this.user.name }}"
                  />
                  <small id="fullnameHelp" class="form-text text-muted text-left"
                    >Nombre Completo</small
                  >
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    name="username"
                    placeholder="Nombre de Usuario"
                    class="form-control form-control-sm"
                    value="{{ this.user.username }}"
                  />
                  <small id="usernameHelp" class="form-text text-muted text-left"
                    >Nombre de Usuario</small
                  >
                </div>
                <div class="form-group">
                  <input
                    type="email"
                    name="email"
                    placeholder="E-mail"
                    class="form-control form-control-sm"
                    value="{{ this.user.email }}"
                  />
                  <small id="emailHelp" class="form-text text-muted text-left"
                    >E-mail</small
                  >
                </div>
  
                <h5 class="card-title card-header border-0">
                  Datos del Domicilio
                </h5>
                <!--Titulo Separador-->
  
                <div class="form-group">
                  <div class="form-row">
                    <!--fila con 2 campos-->
                    <div class="col">
                      <input
                        type="text"
                        name="street"
                        placeholder="Calle"
                        class="form-control form-control-sm"
                        value="{{ this.user.address.street }}"
                      />
                      <small
                        id="streetHelp"
                        class="form-text text-muted text-left"
                        >Calle y Altura</small
                      >
                    </div>
                    <div class="col-3">
                      <!--Campo de menor tamaño-->
                      <input
                        type="text"
                        name="suite"
                        placeholder="Depart."
                        class="form-control form-control-sm"
                        value="{{ this.user.address.suite }}"
                      />
                      <small id="suiteHelp" class="form-text text-muted text-left"
                        >Puerta</small
                      >
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="form-row">
                    <div class="col">
                      <input
                        type="text"
                        name="city"
                        placeholder="Ciudad"
                        class="form-control form-control-sm"
                        value="{{ this.user.address.city }}"
                      />
                      <small id="cityHelp" class="form-text text-muted text-left"
                        >Ciudad</small
                      >
                    </div>
                    <div class="col-3">
                      <input
                        type="text"
                        name="zipcode"
                        placeholder="C.P."
                        class="form-control form-control-sm"
                        value="{{ this.user.address.zipcode }}"
                      />
                      <small
                        id="zipcodeHelp"
                        class="form-text text-muted text-left"
                        >Código Postal</small
                      >
                    </div>
                  </div>
                </div>
  
                <h5 class="card-title card-header border-0">Datos de Contacto</h5>
                <!--Titulo Separador-->
  
                <div class="form-group">
                  <input
                    type="tel"
                    name="phone"
                    placeholder="Teléfono"
                    class="form-control form-control-sm"
                    value="{{ this.user.phone }}"
                  />
                  <small id="phoneHelp" class="form-text text-muted text-left"
                    >Teléfono</small
                  >
                </div>
                <div class="form-group">
                  <input
                    type="url"
                    name="website"
                    placeholder="Sitio Web"
                    class="form-control form-control-sm"
                    value="{{ this.user.website }}"
                  />
                  <small id="websiteHelp" class="form-text text-muted text-left"
                    >Sitio Web</small
                  >
                </div>
  
                <h5 class="cart-title card-header border-0">Datos Laborales</h5>
                <!--Titulo Separador-->
  
                <div class="form-group">
                  <input
                    type="text"
                    name="company"
                    placeholder="Empresa"
                    class="form-control form-control-sm"
                    value="{{ this.user.company.name }}"/>
                  <small id="companyHelp" class="form-text text-muted text-left"
                    >Empresa</small>
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    name="catchPhrase"
                    placeholder="Slogan"
                    class="form-control form-control-sm"
                    value="{{ this.user.company.catchPhrase }}"/>
                  <small
                    id="catchphraseHelp"
                    class="form-text text-muted text-left"
                    >Slogan</small>
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    name="bs"
                    placeholder="Sector o área"
                    class="form-control form-control-sm"
                    value="{{ this.user.company.bs }}"/>
                  <small id="bsHelp" class="form-text text-muted text-left">Sector / Area</small>
                </div>
        
              <!--<div class="form-group">
                          <button tyepe ="button" class="btn btn-secondary btn-block" (click)= "cerrar()">Cerrar</button>
                      </div>-->
              <a class="btn btn-secondary btn-block text-white" (click)="cerrar()">
                Cerrar</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>