<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="router-link-active" > <fa-icon [icon]="faUserSecret" size="1x"></fa-icon> [Secret User]</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/allusers']" routerLinkActive="active">All Users</a>
        </li>
        <!--Descomentar solo para pruebas (ver los RoutingModules)
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/profile']" routerLinkActive="active" >Profile</a>
        </li>
        -->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active" >LogOut</a>
        </li>
        <li class="nav-item">
          <!--<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
        </li>
      </ul>
    </div>
  </nav>