<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap" rel="stylesheet">
<footer>
  <div class="footer">
    <p>© 2020 Copyright Secret User App. Todos los derechos reservados.</p>
  </div>
</footer>

<!--
  OTRO EJEMPLO DE FOOTER CON BOOTSTRAP
  <footer class="page-footer font-small blue">
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://www.linkedin.com/in/joel-albornoz/" target="_blank"> Elias Joel Albornoz - Ayi & Asociados</a>
  </div>
</footer>
-->