.footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    background-color: #313131;
    color: white;
    height: 30px;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    font-size: 14px;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 200;
    letter-spacing: 1px;
    /*font-stretch: ultra-expanded;*/
    /*p {
        padding: 50 px;
        font-size: 2 px;
        span {
            font-size: 11 px;
            font-weight: bold;
        }
    }*/
}