<!--<p>login-form works!</p>-->

<div class="container p-4">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <div class="card text-center">
        <div class="card-header">
          <h3>LogIn</h3>
        </div>
        <div class="card-body">
          <form #formLogin="ngForm" (ngSubmit)="login()">
            <!--action="login()"-->
            <div class="form-group">
              <div class="input-group mb-2">
                <!--Para poner el icono en el campo-->
                <div class="input-group-prepend">
                  <!--Para poner el icono en el campo-->
                  <div class="input-group-text">@</div>
                  <!--Icono campo-->
                </div>
                <input
                  type="text"
                  name="username"
                  #username="ngModel"
                  [(ngModel)]="admUsr"
                  placeholder="Nombre de Usuario"
                  class="form-control"
                  autofocus
                  [disabled]="this.loginService.sigueLogueado()"
                  required/>
                <span *ngIf="username.touched && !username.valid">
                  <div class="alert alert-warning" role="alert">
                    Por favor, ingrese un nombre de usuario.
                  </div>
                </span>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group mb-2">
                <!--Para poner el icono en el campo-->
                <div class="input-group-prepend">
                  <!--Para poner el icono en el campo-->
                  <div class="input-group-text">*</div>
                  <!--Icono en campo-->
                </div>
                <input type="password" name="password"
                  #password="ngModel"
                  [(ngModel)]="admPass" class="form-control" required
                  placeholder="Igrese su contraseña"
                  [disabled]="this.loginService.sigueLogueado()"/>
                <span *ngIf="password.touched && !password.valid">
                  <div class="alert alert-warning" role="alert">
                    Por favor, ingrese su clave de seguridad.
                  </div>
                </span>
              </div>
            </div>

            <div class="form-group">
              <button
                type="submit"
                class="btn btn-success btn-block"
                [disabled]="!formLogin.valid">
                Acceder
              </button>
              <div
                *ngIf="!this.datosOk"
                class="alert alert-danger justify-content-center"
                role="alert">
                Usuario y/o contraseña incorrectos!
              </div>
              <!--COMO HAGO PARA HACER EL AUTOFOCO DE NUEVO????-->
            </div>
            <div class="form-group">
              <button
                type="button"
                class="btn btn-primary btn-block"
                [disabled]="!this.loginService.sigueLogueado()"
                (click)="logout()">
                Cerrar Sesión
              </button>
              <!--COMO HAGO PARA HACER EL AUTOFOCO DE NUEVO????-->
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
