<!--<p>user-list works!</p>-->

<div class="container">
  <div class="row">
    <div
      class="col-md-4 p-2"
      *ngFor="let itemUser of userList; let idx = index"
    >
      <div class="card text-center">
        <div
          class="card-header bg-light d-flex justify-content-between align-items-center"
        >
          <h5>{{ itemUser.name }}</h5>
          <!--ESTE BOTON BORRA DIRECTO SIN ADVERTENCIA
          <button
            class="btn btn-danger text-white align-self-end ml-auto"
            (click)="deleteUser(idx)">
            <i class="far fa-trash-alt"></i>
          </button>-->

          <button
            type="button"
            class="btn btn-danger align-self-end ml-auto"
            data-toggle="modal"
            data-target="#exampleModal"
            (click)="openModalB(idx)">
            <i class="far fa-trash-alt"></i>
          </button>

        </div>
        <!--<img src="" class="card-img-top">     this.imgs[idx].url-->
        <!--<a href="http://www.google.com.ar" target="_blank">-->
        <!--<a [routerLink]="['/profile',itemUser.id]">-->
        <a (click)="editUser(itemUser.id)" class="btn">
        <img src="{{itemUser.address.geo.lng}}" class="card-img-top height: 300px" alt="image profile">
      </a>
        <!--ICONO DE FONTAWESOME
        <i class="fa fa-user-circle fa-7x card-img-top align-item-center p-2 text-secondary"></i>-->

        <h5 class="card-title">{{ itemUser.username.toUpperCase() }}</h5>

        <div class="card-body">
          <p class="card-text text-left">
            <i class="fas fa-envelope"></i> Email: {{ itemUser.email }}
          </p>
          <p class="card-text text-left">
            <i class="fas fa-phone"></i> Phone: {{ itemUser.phone }}
          </p>
          <a class="btn btn-info btn-block text-white" (click)="editUser(itemUser.id)">
            Ver Perfil Completo</a>
          <!--ESTE BOTON ES PARA MOTRAR UN MODEL HECHO A MANO
          <a class="btn btn-info btn-block" (click)="muestraPopup()">
            Mostrar Popup</a>-->
        </div>
      </div>
    </div>
  </div>
  <!--Spinner centrado-->
  <div *ngIf="isLoading" class="d-flex align-items-center">
    <!--d-flex justify-content-center-->

    <div class="spinner-border text-secondary m-5 mx-auto" role="status">
      <span class="sr-only d-flex align-items-center"
        >Cargando contenido...</span
      >
    </div>
  </div>
  <!--Para cuando no hay usuarios-->
  <span *ngIf="!isLoading && !userList.length">
    <div class="alert alert-primary text-center" role="alert">
      No hay Usuarios para mostrar.
    </div>
  </span>
</div>

<!-- Modal -->
<!--<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" 
  aria-labelledby="exampleModalLabel" aria-hidden="true"
  [style.display] es para manejar si se muestra o no se muestra
  [ngStyle] es para poner el fondo transparente>
  -->
<div
  class="modal"
  id="exampleModal"
  tabindex="-1"
  data-backdrop="static"
  [ngStyle]="{ 'background-color': 'rgba(0,0,0,0.6)' }"
  [style.display]="display ? 'block' : 'none'"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header modal-header alert-dark">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar Usuario</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Cerrar"
          (click)="closeModalB()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Esta seguro de querer eliminar el Usuario seleccionado?
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          (click)="closeModalB()"
        >
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="deleteUserModal()"
        >
          Confirmar
        </button>
      </div>
    </div>
  </div>
</div>

<app-popup [visible]="mostrarPopup" (close)="cerrarModal($event)">
  <h2>Nuevo Titulo</h2>
  <div class="contenido">Esto es un nuevo texto proyectado</div>
</app-popup>
